@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}




.bg {
    min-height: 100vh;
    max-width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.timer-container {
    display: flex;
    flex-direction: column;
}

.timer-container span {
    font-size: 1.9rem;
    color: #65ff7c;
    font-weight: 600;
    align-self: center;
    margin-bottom: 10px;
}


.timer-container button {
    height: 50px;
    width: 180px;
    background: #65ff7c;
    font-weight: 600;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}


.timer-container button:hover {
    cursor: pointer;
    background: #04ed61;
}

