@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', poppins;
}



.bg-container {
    background-image: linear-gradient(to right, #91c8ff, #00c3d1);
    height: 100vh;
}

.joke-text {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.joke-button {
    background-image: linear-gradient(145deg, #c2fff3, #09dbaa);
    font-size: 24px;
    width: 120px;
    height: 50px;
    padding: 15px 20px;
    width: 130px;
    box-shadow: 5px 6px 7px rgba(95, 94, 94, 0.3);
    font-weight: 500;
    color: #000000;
    border-width: 0;
    border-radius: 4px;
}