@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");





body {
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.note-app-container {
    background-color: #ffffff;
    max-width: 100%;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.app-title {
    font-size: 1.8rem;
    color: #1f2937;
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 1rem;
    border: 2px solid #d1d5db;
    border-radius: 12px;
    font-size: 1rem;
    resize: vertical;
    outline: none;
    transition: border 0.2s ease;
    resize: none;
}

.input-field:focus {
    border-color: #3b82f6;
}

.button-group {
    display: flex;
    gap: 0.75rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}




.primary-btn {
    background-color: #3b82f6;
    color: white;
}

.primary-btn:hover {
    background-color: #2563eb;
    color: #d1d5db;
}

.secondary-btn {
    background-color: #ef4444;
    color: white;
}

.secondary-btn:hover {
    background-color: #dc2626;
    color: #d1d5db;
}

.ghost-btn {
    background-color: transparent;
    border: 2px solid #6b7280;
    color: #374151;
}

.ghost-btn:hover {
    background-color: #e5e7eb;
}



@media screen and (max-width: 560px) {
    .button-group {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

    .note-app-container {
        width: 700px;
    }
}