@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.container {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #b4fdff;
    padding: 20px;
}

.box {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.4rem;
    text-transform: uppercase;
}




.scroll-indicator {
    background: #0062ff;
    height: 5px;
    width: 0%;
    transition: width 0.5s ease;
    position: fixed;
    top: 0;
}



.box1 {
    background-color: #ffcaca;
}

.box2 {
    background-color: #fff0b5;
}

.box3 {
    background-color: #d6ff34;
}

.box4 {
    background-color: #d4ffc4;
}

.box5 {
    background-color: #a8cbff;
}

.box6 {
    background-color: #e7d7ff;
}

.box7 {
    background-color: #82ff67;
}

.box8 {
    background-color: #ffefc7;
}

.box9 {
    background-color: #c9ffce;
}

.box10 {
    background-color: #f3ceff;
}

.box11 {
    background-color: #ff9999;
}

.box12 {
    background-color: #ffcccc;
}

.box13 {
    background-color: #ffccff;
}

.box14 {
    background-color: #ff99ff;
}

.box15 {
    background-color: #7aff32;
}

.box16 {
    background-color: #f7ffc9;
}

.box17 {
    background-color: #b4ffcd;
}

.box18 {
    background-color: #ffdcf2;
}

.box19 {
    background-color: #ffdb80;
}

.box20 {
    background-color: #ffef0d;
}


.box21 {
    background-color: #ffc86a;
}